.modal-header.dialog-header-confirm.ng-scope
	h4.modal-title.ng-binding
		span.glyphicon.glyphicon-check
		|  {{'LAVAMAIL.CLOSE_ACCOUNT_WARNING_DIALOG.TITLE' | translate}}
.modal-body.ng-binding.ng-scope {{'LAVAMAIL.CLOSE_ACCOUNT_WARNING_DIALOG.LB_TEXT1' | translate}}
.modal-body.ng-binding.ng-scope {{'LAVAMAIL.CLOSE_ACCOUNT_WARNING_DIALOG.LB_TEXT2' | translate}}
.modal-footer.ng-scope
	button.btn.btn-default.ng-binding(type='button', ng-click='cancel()') {{'LAVAMAIL.CLOSE_ACCOUNT_WARNING_DIALOG.BTN_CANCEL' | translate}}
	button.btn.btn-primary.ng-binding(type='button', ng-click='continueClose()') {{'LAVAMAIL.CLOSE_ACCOUNT_WARNING_DIALOG.BTN_CONTINUE' | translate}}