form.ng-cloak(name="__form", ng-class="{'errors': currentErrorMessage}", ng-submit="__form.$valid && requestSecure()", novalidate, ng-autodisable)
	h1(ng-show="isVerifying") {{'LAVALOGIN.VERIFY.TITLE' | translate}}

	.alert.alert-danger(ng-show="currentErrorMessage", ng-bind="currentErrorMessage")