.row.no-gutter.settings-panel.ng-cloak
	form.settings.col-xs-22.col-xs-offset-1.col-sm-20.col-sm-offset-2.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1(name="__formChangePassword", ng-submit="__formChangePassword.$valid && changePassword()", novalidate, ng-autodisable)
		.form-wrap
			h4 {{'LAVAMAIL.SETTINGS.KEYS.YOUR_KEY_PAIRS' | translate}}
			div.key-pairs(ng-repeat="key in keys")
				p(ng-bind="key.email")
				div.key-pair
					.btn-add-icon
						span.delete
					.table-row(ng-click="key.switchCollapse(key)")
						a.btn.caret-btn
							span.icon-caret-down
						span.icon-key-pair
						div
							span.key-id
								strong Key Pair 
								.key-id-id {{key.keyId}}
								span(ng-show="!key.isDecrypted()") (encrypted)
								span(ng-show="key.isDecrypted()") (decrypted)
						a.btn.decrypt(ng-show="!key.isDecrypted()", ng-click="$event.stopPropagation(); showPopup('decryptKey', {fingerprint: key.fingerprint})")
							span.icon-key-pair-decrypt
							span decrypt
						a.btn.download(ng-click="$event.stopPropagation(); exportKeys()")
							span.icon-key-pair-download2
							span download
					div.key-details(collapse="key.isCollapsed()")
						div.intro(ng-show="!key.isDecrypted()")
							.table-row
								span.icon-info-circle
								p You can't use this KeyPair to open or send secure emails right now because it is encrypted. Decrypt it with the password you've used to encrypt it (most likely your account password).
									br
									a Learn more about your Encryption Keys.
						div.intro
							.meta-row
								label Fingerprint
								.value(ng-bind="key.fingerprintPretty")
							.meta-row
								label Key type
								.value {{key.algos}}
							.meta-row
								label Key strength
								.value {{key.length}}
							.meta-row
								label Created date
								.value {{key.created | date}}
							.meta-row
								label Expiration date
								.value {{key.expiredAt | date}}
					.key.public
						.table-row(ng-click="key.switchPublicCollapse(key)")
							a.btn.caret-btn
								span.icon-caret-down
							span.icon-key-pair
							div
								span.key-id
									strong Public Key
							a.btn.decrypt(type="button", ng-click="$event.stopPropagation(); sendKey(key)", ng-title="{{'LAVAMAIL.SETTINGS.SECURITY.SEND_PUBLIC_KEY' | translate}}")
								span.icon-public-key-send
								span share
							a.btn.download(type="button", ng-click="$event.stopPropagation(); exportPublicKey(key)", title="{{'LAVAMAIL.SETTINGS.SECURITY.EXPORT_PUBLIC_KEY' | translate}}")
								span.icon-public-key-download
								span download
						div.key-details(collapse="key.isPublicCollapsed()")
							div.intro.table-row
								span.icon-info-circle
								p This is your Public Key. Like the name says, it's public, so it's totally safe to share it. Your Public Key is used by your contacts to encrypt the emails they are sending you.
									br
									a Learn more about your Encryption Keys.
							div.intro
								.key-contents(ng-bind-html="key.publicArmor | brify")
					.key.public
						.table-row(ng-click="key.switchPrivateCollapse(key)")
							a.btn.caret-btn
								span.icon-caret-down
							span.icon-key-pair
							div
								span.key-id
									strong Private Key
									span (encrypted)
							a.btn.download(type="button", ng-click="$event.stopPropagation(); exportPrivateKey(key)", title="{{'LAVAMAIL.SETTINGS.SECURITY.EXPORT_PUBLIC_KEY' | translate}}")
								span.icon-key-pair-download2
								span download
						div.key-details(collapse="key.isPrivateCollapsed()")
							div.intro.table-row
								span.icon-info-circle
								p This is your Private Key. List the name says, it's private, so DO NOT share it with anyone! Your Private Key is used to decrypt your received Emails in your Inbox.
									br
									a Learn more about encryption keys
							div.intro
								.key-contents(ng-bind-html="key.privateArmor | brify")

			h4 {{'LAVAMAIL.SETTINGS.SECURITY.TITLE_KEYS_MANAGEMENT' | translate}}
			ul.list-group
				li.list-group-item
					.text-control.btn-control
						.btn.btn-block.btn-warning(ng-click="generateKeys()") {{'LAVAMAIL.SETTINGS.SECURITY.BTN_GENERATE_KEYS' | translate}}
						.btn.btn-block.btn-warning(ng-click="removeDecryptedKeys()", ng-disabled="!keys || keys.length < 1") {{'LAVAMAIL.SETTINGS.SECURITY.BTN_REMOVE_DECRYPTED_KEYS' | translate}}
						.btn.btn-block.btn-primary(open-file="importKeys(data)") {{'LAVAMAIL.SETTINGS.SECURITY.BTN_IMPORT_KEYS' | translate}}